{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": 2,
    "quotes": ["error","double"],
    "eqeqeq": 2,
    "no-trailing-spaces": 2
  }
}